<body class="dark-theme">
<div class="story-body">
  <p>Located in the Bronx, Crotona International High School had 333 students enrolled in the 2018-2019 school year. More than 130 of them were homeless, spending their nights at motels, shelters or on the streets.</p>
  <p>High schoolers need to study for their standardized exams in different subjects to achieve college proficiency and get a high school diploma. But with a number of homeless students two times higher than the city average, Crotona International High School got the worst SAT scores during the latest school year.</p>
  <!-- If you use images, the path is just images/___ -->
  {{!-- <p style="text-align: center"><img src="images/cat.jpg"></p> --}}
  <p>There are more than 26,000 high school students identified as homeless in New York City, and the number is still on the rise –– it more than doubled over the last decade, according to data from the New York State Department of Education.</p>
  {{!-- <p>From the roughly 12,500 students living in temporary housing during the 2009-2010 school year, there are now over 26,500, facing a number of obstacles that make it harder to achieve college proficiency levels in their tests.</p> --}}
  <p>Not meeting a college proficiency index or the state standards for a high school diploma increases the chance that these students will become part of the larger issue of adult homelessness in the city.</p>
  <p>National research from Chapin Hall’s Voice of Youth Count, a University of Chicago policy research center, shows that the lack of high school diplomas is the single greatest risk factor for homelessness among young adults. Students who did not graduate had 4.5 times the risk of experiencing homelessness compared to peers who completed high school.</p>
</div>