<body class="dark-theme">
<div class="story-body">
  <p>Regents exams are also used to measure college proficiency, but homeless students still underperform. These tests are graded by performance levels from 1-4, which reflect the extent to which students demonstrate the level of understanding expected at their grade level. Levels 3 and 4 are considered “college proficient,” according to the state education department.</p>
  <p>State education department data shows that the cohort of students entering high school in 2015 were 20 percent less proficient at Regents tests than their peers. </p>
  <p>“These kids are living in shelters, sharing a house, living unsheltered in cars, parks, abandoned buildings,” Kramer said. “The trauma they endure makes it harder for them to focus on school.” </p>

</div>