<body class="dark-theme">
<div class="story-body">
  <p>As part of Mayor Bill de Blasio’s “College Access for All” initiative, the city’s department of education launched the “SAT School Day” initiative in 2017 to offer an opportunity for all 10th and 11th grade students to take the PSAT and SAT free of charge during a regular school day.</p>
  <p>A record number of students took the SAT after the initiative was implemented, Chalkbeat reported. But homeless high school students are still underperforming.</p>
  <p>“We see that even with the SAT School Day, homeless students are less likely to take the SATs at all, and in addition they are less likely to take the SAT two or more times. That also goes for the PSAT, and they are also less likely to pass their Regents exams,” Pizano said.</p>

</div>