<div class="story-body scrollytelling">

    <div id="chart-scatter" class="chart">
    </div>

    <div class="steps">
        <div class="step" id="title-step">
            <h3>Homelessness and Race</h3>
            <p>Minority groups in New York City school districts experience homelessness at higher rates than whites.</p>
       </div>
        <div class="step" id="white-step">
            <p>This is percentage of white students vs temp housing</p>
        </div>
        <div class="step" id="asian-step">
            <p>This is percentage of asian students vs temp housing</p>
        </div>
        <div class="step" id="nonwhite-step">
            <p>This is percentage of black + hispanic students vs temp housing</p>
        </div>
        <div class="step" id="school-step">
            <p>This is school at bronx with lowest sats</p>
        </div>
        <div class="step" id="top-step">
            <p>These are top 10 worst districts</p>
        </div>
    </div>

</div>

<script src="scripts/chart-scatter.js"></script>
