<div class="story-body scrollytelling">

    <div id="chart-bubble" class="chart"></div>

    <div class="steps">
        <div class="step" id="nothing-step">
            <h3>High School Homelessness and SAT scores</h3>
            <p>Homeless high schoolers don’t typically have access to SAT tutoring, practice tests or multiple opportunities to improve their scores. Schools with higher rates of homelessness have lower SAT averages.</p>
            <p>The SAT average score for New York City public schools in 2019 was 950, marked by the red line.</p>
       </div>
        <div class="step" id="top-step">
            <p>Black and Hispanic students make up over 50 percent of the student body at these high schools. The average SAT score of these schools was 918.</p> 
            <p>Out of the 347 schools, 25 percent performed above the city average.</p>
       </div>
       <div class="step" id="final-step">
            <p>White and Asian students make up over 50 percent of the student body at these high schools. The average SAT score of these schools was 1162. </p>
            <p>Out of the 66 schools, 94 percent performed above the city average.</p>
       </div>
    </div>

</div>

<script src="scripts/chart-bubble.js"></script>
