<div class="story-body scrollytelling">

    <div id="chart-01" class="chart"></div>
    <div class="steps">
            <div class="step" id="nothing">
                <h3>High School Homelessness Increases</h3>
                <p>In 2018-2019, the number of New York City district and charter schools students identified as homeless decreased by half a percentage point from the 2017-2018 school year. Outside the city, there are 1,000 less homeless high schoolers this year.</p>
            </div>
            <div class="step" id="city-step">
            <p>But statistics for high schoolers in the city didn't get the scant decrease. The numbers keep growing in a cohort where students also have to prepare to get a high school diploma and meet college proficiency.</p>
            </div>
    </div>

</div>

<script src="scripts/linegraph.js"></script>
