<div class="story-body scrollytelling image-stepper" id="scrolly-images">

    <div id="img-holder" class='chart'>
            <img src='images/districts2019-01.png' id='img-1'>
            <img src='images/topdistricts2019-01.png' id='img-2'>
            <img src='images/satscores-01.png' id='img-3'>
            <img src='images/lowsat-01.png' id='img-4'>
    </div>

    <div class="steps">
        <div class="step" data-show-selector='#img-1'>
            <h3>High School Homelessness by District</h3>
            <p>From the roughly 12,500 students living in temporary housing during the 2009-2010 school year, there are now over 26,500, facing a number of obstacles that make it harder to achieve college proficiency levels in their tests.</p>
        </div>
        <div class="step" data-show-selector='#img-2'>
            <p>These are the 10 districts with highest rates of homelessness. Five of them are located in the Bronx, four are in Brooklyn and one –– District 6, east of the Bronx –– is in Manhattan.</p>
        </div>
        <div class="step" data-show-selector='#img-3'>
            <p>According to available city data for SAT scores at public high schools, the city averaged 950 in the standardized test during the 2018-2019 school year.</p>
        </div>
        <div class="step" data-show-selector='#img-4'>
            <p>The top 10 districts with highest rates of homelessness all performed below average.</p>
        </div>
    </div>
    <div id="img-holder" class='chart-source'><p>Source: New York City Department of Education</p></div>

</div>
<script src="scripts/chart-images.js"></script>