<body class="dark-theme">
<div class="story-body">
  <p>Domestic violence can bring a family to flee a violent situation, having to relocate or look for a shelter. This means that students may have to move away from their schools or even have to transfer.</p>
  <p>Andrea Pizano, director of policy research at Institute for Children, Poverty and Homelessness, said students might sometimes move to other neighborhoods a half hour or two hours away from their schools, which poses a challenge for getting to school on time, or getting there at all. “This could lead to chronic absenteeism, when students are absent 10% or more of the school year,” Pizano said.</p>
  <p>Homeless high schoolers don’t typically have access to SAT tutoring, practice tests or multiple opportunities to improve their scores, Pizano said, resulting in lower scores than their counterparts. The highest 20 percent of SAT scores belonged to high schools where homeless students made up 4 percent of the student body. There were five times as many homeless kids at schools delivering the lowest 20 percent of the scores. </p>
</div>