<body class="dark-theme">
<div class="story-body">
  <p>Domestic violence might force children and others to flee a violent situation, which can mean relocating to an unfamiliar neighborhood or ending up in a shelter. And in those cases, enrolled students either have to switch schools or face a long commute.</p>
  <p>Andrea Pizano, director of policy research at the Institute for Children, Poverty, and Homelessness, says that students might sometimes move up to two hours away from their schools, which makes getting to school on time a challenge—or getting there at all. “This could lead to chronic absenteeism, when students are absent 10% or more of the school year,” Pizano said.</p>
  <p>Homeless high schoolers don’t typically have access to SAT tutoring, practice tests or multiple opportunities to improve their scores, Pizano says, resulting in lower overall scores than their counterparts. The highest 20 percent of SAT scores belonged to high schools where homeless students made up 4 percent of the student body. There were five times as many homeless kids at schools delivering the lowest 20 percent of the scores.</p>
</div>