<body class="dark-theme">
<div class="story-body">
  <p>What is the city doing about it? Not enough, according to advocacy groups.</p>
  <p>Coalition for the Homeless released a report in April on what they called a “homelessness crisis.” They included a report card, giving Mayor Bill de Blasio a failing grade on his efforts to create sufficient housing for the homeless. They gave Governor Andrew Cuomo multiple failing grades on housing vouchers and homelessness prevention.</p>
  <p>In 2017, de Blasio released his “Turning the Tide on Homelessness” initiative, which promised to reduce the number of people in shelters by 2,500 over five years. But Coalition for the Homeless actually projected an increase of 5,000 men, women and children living in shelters by 2022.</p>
  <p>As part of the initiative, the mayor implemented “Housing New York 2.0,” which would build or preserve 200,000 affordable apartments, with 15,000 units saved for homeless families. But that is not enough, advocates said.</p>
  <p>“New York City’s homelessness crisis will not improve until the Mayor uses every tool at his disposal,” said policy director Giselle Routhier in a press release. “That means devoting at least 30,000 apartments in his Housing New York 2.0 affordable housing plan for homeless New Yorkers, with at least 24,000 of those apartments to be created through new construction.”</p>
</div>