<body class="dark-theme">
<div class="story-body">
  <p>Located in the Bronx, Crotona International High School had 333 students enrolled in the 2018-2019 school year. More than 130 of them were homeless, and spent their nights at motels, in shelters or on the streets. Many are left without a time or place to study, and might face unpredictable commutes. Academic achievement may be among the least of their day to day concerns.</p>
  <p>“These kids are living in shelters, sharing a house, living unsheltered in cars, parks, abandoned buildings,” says Emily Kramer, of the nonprofit NYC-TEACHS, which focuses on the challenges of homeless students. “The trauma they endure makes it harder for them to focus on school.”</p>
  <p>It may then come as no surprise that Crotona International High School got the worst SAT scores during the latest school year, according to New York City's Department of Education data.</p>
  <p>There are more than 26,000 high school students identified as homeless in New York City, more than double the number reported 10 years ago, according to data from the New York State Department of Education.</p>
  <p>Not meeting a college proficiency index or achieving a high school diploma increases the chance that these students will remain part of the homelessness crisis.</p>
  <p>According to a report by the nonprofit Advocates for Children, only 57 percent of all New York City students who are homeless graduate from high school. For students living primarily in shelters, fewer than half are able to get their diplomas, the report stated.</p>
  <p>National research from Chapin Hall’s Voice of Youth Count, a University of Chicago policy research center, has further shown that the lack of a high school diploma is the single greatest risk factor for homelessness among young adults. “These young adults had 4.5 times the risk of experiencing homelessness compared to peers who completed high school,” the authors of the 2017 report wrote.</p>
<br>
<br>
</div>